[Desktop Entry]
Name=Traverso
Comment=Digital Audio Workstation
#Comment[nl]=

Encoding=UTF-8
Version=1.0

Type=Application
Categories=Application;Qt;AudioVideo;Audio;Music;Recorder;

MimeType=application/x-traverso

Exec=traverso %f
TryExec=traverso
Terminal=false
StartupNotify=true

Icon=traverso.png
