Source: traverso
Section: sound
Priority: optional
Maintainer: Nicola Doebelin <nicola@doebelin.org>
Build-Depends: debhelper (>= 4.0.0), libqt4-dev (>= 4.2.3), libsndfile1-dev, libsamplerate0-dev, libjack0.100.0-dev, libasound2-dev, fftw3-dev (>= 3.1), librdf0-dev (>= 1.0.4)
Standards-Version: 3.6.2

Package: traverso
Architecture: any
Depends: ${shlibs:Depends}, cdrdao, sox
Description: A multitrack audio recorder/editor
 Traverso is a multitrack audio recorder and editor
 with a very clean and intuative interface which supports
 ALSA and Jack as the sound driver.
